{% extends "NZZMyTownBundle::layout.html.twig" %}
 {% block body %}
     <div class="container">
         <table class="table table-condensed">
             <tr>
                {% for field in fields %}
                    <td class="text-info text-center"> {{ field }}</td>
                {% endfor %}
                    <td> </td>
             </tr>
             {% for project in projects %}
                 <tr>
                     <td> {{ project.id }}</td>
                     <td> {{ project.name|default('') }}</td>
                     <td> <a href="{{ path('nzz_my_town_admin_points_dashboard', {'projectId': project.id }) }}">{{ project.shortname|default('') }}</a></td>
                     <td> {{ project.centerLatitude|default('') }}</td>
                     <td> {{ project.centerLongitude|default('') }}</td>
                     <td> {{ project.defaultZoom|default('') }}</td>
                     <td> {{ project.language|default('') }}</td>
                     <td> <a class="btn btn-warning" href="{{ path('nzz_my_town_admin_edit_project', {'projectId': project.id }) }}"><i class="icon-edit">e</i></a></td>
                     <td> <a class="btn btn-danger" href="{{ path('nzz_my_town_admin_remove_project', {'projectId': project.id }) }}"><i>x</i></a></td>
                 </tr>
                 {% endfor %}
         </table>
         <a class="label label-info" href="{{ path('nzz_my_town_admin_add_project') }}">Add Project</a>
     </div>
 {% endblock %}
