{% extends "NZZMyTownBundle::layout.html.twig" %}
 {% block body %}
     <div class="container">
            <h1>Welcome to MyTowm Project</h1>
             <table class="table table-bordered">
                 <tr>
                    {% for field in fields %}
                        <td> {{ field }}</td>
                    {% endfor %}
                        <td> </td>
                 </tr>
                 {% for point in points %}
                     <tr id="points">
                         <td> {{ point.id }}</td>
                         <td> {{ point.description|default('') }}</td>
                         <td>{{ point.latitude|default('') }}</td>
                         <td>{{ point.longitude|default('') }}</td>
                         <td>{{ point.longitude|default('') }}</td>
                         <td>{{ point.submitterLocation|default('') }}</td>
                        {% if point.is_published|default(false) %}
                            <td> <a class="btn btn-warning" href="{{ path('nzz_my_town_admin_points_unpublish', {'pointId': point.id }) }}">Unpublish</a></td>
                        {% else %}
                            <td> <a class="btn btn-success" href="{{ path('nzz_my_town_admin_points_publish', {'pointId': point.id }) }}">Publish</a></td>
                        {% endif %}
                         <td> <a class="btn btn-danger" href="{{ path('nzz_my_town_admin_points_remove', {'pointId': point.id }) }}"><i>x</i></a></td>
                     </tr>
                     {% endfor %}
             </table>
    </div>
 {% endblock %}
