{% extends "NZZMyTownBundle::layout.html.twig" %}
 {% block body %}
     <div class="container">
             <table class="table table-condensed">
                 <tr>
                    {% for field in fields %}
                        <td class="text-info text-center"> {{ field }}</td>
                    {% endfor %}
                        <td> </td>
                 </tr>
                 {% for point in points %}
                     <tr id="points">
                         <td> {{ point.id }}</td>
                         <td> {{ point.description|default('') }}</td>
                         <td>{{ point.latitude|default('') }}</td>
                         <td>{{ point.longitude|default('') }}</td>
                         <td>{{ point.authorName|default('') }}</td>
                         <td>{{ point.authorLocation|default('') }}</td>
                         <td>{{ point.sentiment|default(0) }}</td>
                        {% if point.is_published|default(false) %}
                            <td> <a class="btn btn-warning" href="{{ path('nzz_my_town_admin_points_unpublish', {'pointId': point.id }) }}">Unpublish</a></td>
                        {% else %}
                            <td> <a class="btn btn-success" href="{{ path('nzz_my_town_admin_points_publish', {'pointId': point.id }) }}">Publish</a></td>
                        {% endif %}
                         <td> <a class="btn btn-danger" href="{{ path('nzz_my_town_admin_points_remove', {'pointId': point.id }) }}"><i>x</i></a></td>
                     </tr>
                     {% endfor %}
             </table>
         <div class="pagination  pagination-centered">

         </div>
    </div>
 {% endblock %}

{% block javascripts %}
    <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    {#'bundles/vfemytown/js/app.js'#}
    {% javascripts filter='?yui_js' output='js/*.js'
    'bundles/nzzmytown/js/jquery.simplePagination.js'
    %}
    <script src="{{ asset_url }}"></script>
    <script type="text/javascript">
        $(function() {
            $('.pagination').pagination({
                items: {{ count }},
                itemsOnPage: {{ limit }},
                currentPage: {{ page|default(1) }},
                onPageClick: function(pageNumber, event) {
                    window.location ="{{ path('nzz_my_town_admin_points_dashboard', {'projectId': projectId }) }}?page=" + pageNumber + '#page-' + pageNumber;
                }
            });
        });
    </script>

    {% endjavascripts %}
{% endblock %}
