
{% extends "NZZAdminMyTownBundle::mytown_base_admin.html.twig" %}

{% block stylesheets %}    {{ parent() }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
{% block body %}
    {% block page_title %}
{% endblock page_title %}
    <div class="row-fluid text-left">
        <div class="span8">
            <h3>This is admin tool to create new projects, maintain user's comments.</h3>
        </div>
        <div class="span8">
            Go to list of projects: <a href="{{ path('NZZ_AdminMyTownBundle_Project_list') }}">Projects</a>
        </div>
        <div class="span8">
            Upload logos: <a href="{{ path('NZZ_AdminMyTownBundle_Logo_list') }}">Logos </a><span class="label label-info">not finished</span>
        </div>
        <div class="span8">
            Save tracking scripts: <a href="{{ path('NZZ_AdminMyTownBundle_Track_list') }}">Tracking scripts </a><span class="label label-info">not finished</span>
        </div>
    </div>
{% endblock body %}
