{% extends "NZZMyTownBundle::layout.html.twig" %}
{% block body %}
    <script type="text/javascript">
      $(function() {
        // Init i18n
        i18n.init({
          lng: '{{lang}}',
          load:'unspecific',
          fallbackLng: false,
          resGetPath: '/bundles/nzzmytown/locales/__lng__.json',
        }, function() {
          // Remove the preload spinner
          $('body').removeClass('preload');
          // Define the application root
          var root = "{{ path('nzz_my_town_homepage', {'project': project, 'lang': lang}) }}".split('/');
          root.pop(); // to avoid tailing slashes we need to remove the last segment
          root = root.join('/');
          // Set app config
          app.config.baseUrl = root;
          app.config.mapboxKey = 'sylke-gruhnwald.map-a6qno9vz';
          // Start the app
          var router = new app.routers.AppRouter();
          Backbone.history.start({pushState: true, root: root});
        });
      });
   </script>
   <div data-view="root" class="app-container"></div>
{% endblock %}

{% block templates %}

<script id="template-submit" type="text/x-handlebars-template">{% raw %}
{{#if comment}}
  <a href="{{noLink}}" data-action="cancel" class="btn btn-secondary">{{t "form.cancel"}}</a>
  <a href="{{noLink}}" data-action="edit" data-target="#comment-modal" id="submit__marker__btn" class="btn btn-primary {{#unless comment.latitude}}{{#unless comment.longitude}}disabled{{/unless}}{{/unless}}">{{t "form.add"}}</a>
{{else}}
  <a href="{{noLink}}" data-action="new" class="btn btn-primary">{{buttontext}}</a>
{{/if}}
{% endraw %}</script>

<script id="template-submit-thanks" type="text/x-handlebars-template">{% raw %}
<a href="#thanks-modal" class="btn btn-primary" data-toggle="modal">{{t "thx.thankyou"}}</a>
{% endraw %}</script>

<script id="template-root-view" type="text/x-handlebars-template">{% raw %}
<div class="app-container">

  <div id="map" class="content span-sidebar-left" data-view="map-view"></div>

  <div class="sidebar" data-view="sidebar">
    <header class="header">
      <div class="sidebar__info">
        <h1 class="header__heading">{{title}}&nbsp;{{description}}</h1>
        <p class="sidebar__text hidden-phone">{{info}}</p>
      </div>

      <div class="sidebar__help">
        <p class="sidebar__text">Platzieren Sie den Pin am Ort, den Sie kommentieren möchten.</p>
      </div>

      <div class="sidebar__submit" data-view="submit-view"></div>
    </header>
    <section data-view="comments-list" class="sidebar__section sidebar__comments comments__section"></section>
  </div>

  <div class="footer">
    <section class="sidebar__section sharing__section">
      <p>
      {{t "share"}}
      <a href="#" 
            class="sharing__link"
            onclick="
              window.open(
                'https://twitter.com/share?url='+encodeURIComponent(location.href), 
                'twitter-share-dialog', 
                'width=626,height=436'); 
              return false;">Twitter</a>, 
          <a href="#" 
            class="sharing__link"
            onclick="
              window.open(
                'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
                'facebook-share-dialog', 
                'width=626,height=436');
              return false;">Facebook</a>.
          <a href="#tacModal" role="button" class="tacModal_link" data-toggle="modal">{{t "info.name"}}</a>, 
          <a href="#feedbackModal" role="button" class="tacModal_link" data-toggle="modal">Feedback</a>
      </p>
    </section>

    <section class="sidebar__section branding__section">
    <ul class="branding__list hidden-phone">
      <li class="branding__item">
        <a href="#"><img src="/bundles/nzzmytown/images/log_let.png" alt="Le Temps"></a>
      </li>
      <li class="branding__item">
        <a href="#"><img src="/bundles/nzzmytown/images/log_taw.png" alt="Tageswoche"></a>
      </li>
      <li class="branding__item branding__item__last">
        <a href="#"><img src="/bundles/nzzmytown/images/log_nzz.png" alt="Neue Zürcher Zeitung"></a>
      </li>
    </ul>
    <p class="branding__list hidden-tablet hidden-desktop">
      <a href="#">Le Temps</a>, <a href="#">Tageswoche</a>, <a href="#">Neue Zürcher Zeitung</a>
    </p>
    </section>
  </div>

  <div id="comment-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">{{t "form.heading"}}</h3>
    </div>
    <div class="modal-body">
      <form class="">
        <fieldset>
          <input name="projectId" type="hidden" value="{{projectId}}"/>

          <label for="commentTitle">{{t "form.title"}}</label>
          <input name="title" id="commentTitle" type="text"/>

          <label for="commentDescription">{{t "form.description"}}</label>
          <textarea name="description" id="commentDescription" rows="3"></textarea>
		  
		  <label for="sentiment">{{t "form.sentiment"}}</label>
          <label class="radio inline">
            <input type="radio" name="sentiment" value="1"/>
            {{t "form.sentiLabels.positive"}}
          </label>
          <label class="radio inline">
            <input type="radio" name="sentiment" value="-1"/>
            {{t "form.sentiLabels.negative"}}
          </label>
          <label class="radio inline">
            <input type="radio" name="sentiment" value="0" checked />
            {{t "form.sentiLabels.fact"}}
          </label>

          <label for="commentAuthorName">{{t "form.name"}}</label>
          <input name="authorName" id="commentAuthorName" type="text"/>

          <label for="commentAuthorLocation">{{t "form.origin"}} ({{t "form.optional"}})</label>
          <input name="authorLocation" id="commentAuthorLocation" type="text"/>
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn" data-action="cancel" aria-hidden="true">{{t "form.cancel"}}</button>
      <button class="btn btn-primary" data-action="submit">{{t "form.add"}}</button>
    </div>
  </div>

  <div id="thanks-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{{t "thx.thankyou"}}" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="tacModalLabel">{{t "thx.thankyou"}}</h3>
    </div>
    <div class="modal-body">
      <p>{{t "thx.share"}}</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary">{{t "thx.more"}}</button>
    </div>
  </div>

  <div id="tacModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{{t "info.name"}}" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="tacModalLabel">{{t "info.name"}}</h3>
    </div>
    <div class="modal-body">
      <p>{{t "info.terms"}}</p>
      <p>{{t "info.contact"}}</p>
      <p>{{t "info.credits"}}</p>
      <p>{{t "info.inspiration"}}</p>
      <strong>{{t "embed.button"}}</strong>
      <p>{{t "embed.text"}}</p>
      <textarea rows="6" cols="50" style="width:300px;height:50px;" autofocus><iframe src="encodeURIComponent(location.href)" width="1000px" height="700px"></iframe></textarea>
    </div>
  </div>
  
  <div id="feedbackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Feedback" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="tacModalLabel">Feedback</h3>
    </div>
    <div class="modal-body">
      <p>{{t "info.contact"}}</p>
    </div>
  </div>
  
</div>
{% endraw %}</script>



<script id="template-comment" type="text/x-handlebars-template">{% raw %}
<h3 class="comment__title">{{title}}</h3>
<p class="comment__text">{{description}}</p>
{{#if authorName}}
  <span class="comment__author">{{authorName}}{{#if authorLocation}}, {{authorLocation}}{{/if}}</span>
{{/if}}
{% endraw %}</script>

<script id="template-comment-placeholder" type="text/x-handlebars-template">{% raw %}
<p class="comment__text">{{t "noentries"}}</p>
{% endraw %}</script>

{% endblock %}
