{% extends "NZZMyTownBundle::layout.html.twig" %}
{% block body %}
    {% if project|default('nzz') == 'nzz' %}
        {#lat = 47.369, lng = 8.542#}
        {% set city = 'Zurich' %}
        {% set lat = '47.369' %}
        {% set lon =  '8.542' %}
    {% elseif project|default('nzz') == 'tagw' %}
        {#?lat=47.5546&lon=7.5944&#}
        {% set city = 'Basel' %}
        {%  set lat = 47.5546 %}
        {%  set lon =  7.5944 %}
    {% elseif project|default('nzz') == 'temps' %}
        {#lat=46.2048&lon=6.143&#}
        {% set city = 'Geneva' %}
        {%  set lat = 46.2048 %}
        {%  set lon =  6.143 %}
    {% endif %}
    <script type="text/javascript">
      $(function() {
        // Init i18n
        i18n.init({
          lng: '{{lang}}',
          load:'unspecific',
          fallbackLng: false,
          resGetPath: '/bundles/nzzmytown/locales/__lng__.json',
        }, function() {
          // Start the app
          var router = new app.routers.AppRouter();
          Backbone.history.start();
        });
      });

       // var config = {};
       // config.project = "{{ project }}";
       // config.lang = '{{ lang }}';
       // config.zoom = '{{ zoom }}';
       // config.lat = '{{ lat }}';
       // config.lon = '{{ lon }}';
   </script>
   <div data-view="root" class="app-container"></div>
{% endblock %}

{% block templates %}

<script id="template-root-view" type="text/x-handlebars-template">{% raw %}
<div class="app-container">

  <div class="content span-sidebar-left" id="map"></div>

  <div class="sidebar">
    <header class="header">
      <h1 class="header__heading">Stadtgeflüster 
        <span class="header__subheading">– zeigen Sie uns die unbekannten Seiten Ihrer Stadt
        </span>
      </h1>
      <p class="sidebar__text">Sie wissen etwas über Ihre Stadt, das andere auch wissen sollten. Tragen Sie es in die Karte ein!</p>
      <p>
        <a href="#" id="submit__wisdom__btn" class="btn btn-primary">Submit your wisdom</a>
        <a href="#" id="cancel__marker__btn" class="btn btn-secondary">{{t "form.cancel"}}</a>
        <a href="#commentModal" id="submit__marker__btn" class="btn btn-primary" data-toggle="modal">{{t "form.add"}}</a>
        <a href="#thanksModal" class="btn btn-primary" data-toggle="modal">{{t "thx.thankyou"}}</a>
      </p>
    </header>

    <section data-view="comments-list" class="sidebar__section comments__section"></section>
  </div>

  <div class="footer">
    <section class="sidebar__section sharing__section">
      <span class="sharing__label">Share on</span>
      <ul class="sharing__list">
        <li class="sharing__item">
          <a href="#" 
            class="btn"
            onclick="
              window.open(
                'https://twitter.com/share?url='+encodeURIComponent(location.href), 
                'twitter-share-dialog', 
                'width=626,height=436'); 
              return false;">
            Twitter
          </a>
        </li>
        <li class="sharing__item">
          <a href="#" 
            class="btn"
            onclick="
              window.open(
                'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
                'facebook-share-dialog', 
                'width=626,height=436'); 
              return false;">
            Facebook
          </a>
        </li>
      </ul>
      <a href="#tacModal" role="button" class="tacModal_link" data-toggle="modal">Terms and Conditions</a>
    </section>

    <section class="sidebar__section branding__section">
    <ul class="branding__list">
      <li class="branding__item">
        <a href="#"><img src="/bundles/nzzmytown/images/logo_tageswoche.png" alt="Tageswoche" width="80"></a>
      </li>
      <li class="branding__item">
        <a href="#"><img src="/bundles/nzzmytown/images/logo_letemps.png" alt="Le Temps" width="80"></a>
      </li>
      <li class="branding__item">
        <a href="#"><img src="/bundles/nzzmytown/images/logo_nzz.png" alt="Neue Zürcher Zeitung" width="80"></a>
      </li>
    </ul>
    </section>
  </div>

  <div id="commentModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">[Form Heading]</h3>
    </div>
    <div class="modal-body">
      <form class="">
        <fieldset>
          <label>Title</label>
          <input type="text">
          <label>Comment</label>
          <textarea rows="3"></textarea>
          <label class="radio inline">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            Positive
          </label>
          <label class="radio inline">
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Neutral
          </label>
          <label class="radio inline">
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
            Negative
          </label>
          <label>Your Name</label>
          <input type="text">
          <label>Your Location</label>
          <input type="text">
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
    </div>
  </div>

  <div id="thanksModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Thank you" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="tacModalLabel">Thank you!</h3>
    </div>
    <div class="modal-body">
      <p>[Thank you!]</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary">Add another comment</button>
    </div>
  </div>

  <div id="tacModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Terms and Conditions" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="tacModalLabel">Terms and Conditions</h3>
    </div>
    <div class="modal-body">
      <p>[Terms and Conditions]</p>
    </div>
  </div>

</div>
{% endraw %}</script>



<script id="template-comment" type="text/x-handlebars-template">{% raw %}
<li class="comments__item comment" data-id="{{id}}">
  <h3 class="comment__title">{{title}}</h3>
  <p class="comment__text">{{description}}</p>
  {{#if authorName}}
    <span class="comment__author">{{authorName}}{{#if authorLocation}}, {{authorLocation}}{{/if}}</span>
  {{/if}}
</li>
{% endraw %}</script>

{% endblock %}
