{% extends "NZZMyTownBundle::layout.html.twig" %}
{% block body %}
    {% if project|default('nzz') == 'nzz' %}
        {#lat = 47.369, lng = 8.542#}
        {% set city = 'Zurich' %}
        {% set lat = '47.369' %}
        {% set lon =  '8.542' %}
    {% elseif project|default('nzz') == 'tagw' %}
        {#?lat=47.5546&lon=7.5944&#}
        {% set city = 'Basel' %}
        {%  set lat = 47.5546 %}
        {%  set lon =  7.5944 %}
    {% elseif project|default('nzz') == 'temps' %}
        {#lat=46.2048&lon=6.143&#}
        {% set city = 'Geneva' %}
        {%  set lat = 46.2048 %}
        {%  set lon =  6.143 %}
    {% endif %}
    <script type="text/javascript">
       $(function() {
           // Start the app
           var router = new app.routers.AppRouter();
           Backbone.history.start();
       });

       // var config = {};
       // config.project = "{{ project }}";
       // config.lang = '{{ lang }}';
       // config.zoom = '{{ zoom }}';
       // config.lat = '{{ lat }}';
       // config.lon = '{{ lon }}';
   </script>
   <div id="app-container"></div>
{% endblock %}

{% block templates %}

<script id="template-root-view" type="text/x-handlebars-template">{% raw %}
<div class="header">
  <div class="row-fluid">
    <div class="span4"><span class="header__branding branding_nzz"><img src="/bundles/nzzmytown/images/logo_nzz.png" alt="Neue Zürcher Zeitung"></span></div>
    <div class="span4"><a href="#" class="header__btn btn btn-primary">Submit Marker</a></div>
    <div class="span4">
      <ul class="sharing__list">
        <li class="sharing__item"><a href="#" class="btn">Twitter</a></li>
        <li class="sharing__item"><a href="#" class="btn">Facebook</a></li>
        <li class="sharing__item"><a href="#" class="btn">Link</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="content" ng-controller="MapController" id="map"></div>
<div class="footer">
  <h1 class="footer__heading">Map Your Town <span class="footer__subheading">{{ city }}</span></h1>
  <span class="footer__notes">150 notes</span>
  <p class="footer__introduction">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure d.</p>
</div>
<div class="content" ng-controller="MapController" id="map"></div>
{% endraw %}</script>

{% endblock %}
